@import url("shared.css");

/* @group 通用设定
==================================================*/
body{color: #666;}
body,body #body-wrapper{background-color:black;}

a       { color: black; }
a:hover { color: #666; }
/*淡蓝*/
#header #logo h2 a:hover{
	border-color: #4183c4;
}
#header #head-info #blog-name a:hover,
#level-bar .rate .rate-num:hover{
	color: #4183c4;
	/*color: #84cfff;*/
	/*color: #1992fc;*/
}
/*#header ul.nav li a,#footer,#footer .button{color:fff;}*/

/* @group header 顶部容器
===================================================*/
#header #head-info #blog-name a{color: rgb(215,236,241);}
#header #head-info #counter span{color:rgb(100,100,100);}

#header ul.nav li a{color:#bbb;}
#header ul.nav li a:hover,
#header ul.nav li a:active,
#header ul.nav li ul li a {
	color:gray;
}
#header ul.nav li ul li a:hover,
#header ul.nav li ul li ul li a:hover{
	color:white;
}

#header{
	background: url(../../images/layout/default/black/head.png) repeat-x;
}
#header #logo h2 a {
  	background-image: url(../../images/layout/default/black/logo.gif);
}

/* Navigation */

#header ul.nav li {
  	background-image: url(../../images/layout/default/black/nav_bg.png);
}

/* Dropdown Menu */

#header ul.nav li ul {
  background-image: url(../../images/layout/default/black/nav_dropdown_arrow.gif);
}
#header ul.nav li ul li a {
  background-color: #333;
  border-color: #777;
}

#header ul.nav li ul li a:hover {
  background-color: #3b3b3b;
}

#header ul.nav li ul li:last-child a,
#header ul.nav li ul li ul li:last-child a {
  border-bottom-color: #5E5E5E;
}
/* @group topbar 上信息栏
==============================================================*/
#topbar{
	background-image: url(../../images/layout/default/black/topbar_bg.png);
}
#topbar #top-info{
	color:#6b6b6b;
	/*text-shadow:0.2em 0.05em 0.05em #000;*//*阴影效果*/
}
/* @grop main 主容器
=============================================================*/
#main {
	background: #f8f8f8 url(../../images/layout/default/black/main_gradient.png) repeat-x;
	border-top :1px solid white;
}
#main #content .post-data p{
	color: #444;
}
#content .paginator a{color: #666;}
#content .paginator a:hover{background:#e7e7e7;color: black;}
#content .paginator a.active{
	background: #e7e7e7;
	border: 1px solid #666;
}

#comments .comment-dom{background: white;}
#comments .comment-dom{border: 1px solid #cfcfcf;}

#comments .comment .comment-info .time{color: #666;}
#comments .comment .content .text{color: #333;}

#comments .reply .reply-button a{color: #bbb;}
#comments .reply .reply-button a:hover{color: #333;}
/**/
#user-info{background-color: #e7e7e7;}
#user-info #base-info{border-right-color: #a7a7a7;}
/*#user-info #base-info{background-color: #fff;}*/
/*#base-info .recode{background-color: white;}*/
#base-info .logo{border-color:#e7e7e7 }
#base-info .logo:hover{border-color:#cfcfcf;}
/*#base-info .record .item{color: #4182cf;}*/
#base-info .logo .cover{background: #e7e7e7;color: black;}

#level-bar .rate .rate-bg{background-color: #cfcfcf;}
#level-bar .rate .rate-num{color: #333;}
/* @grop footer 底部容器*/
#footer{
	background: black;
}



/* sidebar 侧边栏 颜色配置位于shared.css*/


